<!doctype html>
<html ng-app="GandalfChatApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Gandalf</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#88857c">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </head>
  <body>
    <div class ="container" ng-controller="ChatController"> 
      <div class="wrapper" >
        <header>
          <h1>Gandalf Chat</h1>
          <form ng-show="pageState == 0">
            <input type="submit" value="Register" ng-click="" ng-disabled="pageState != 0">
          </form>
          <form ng-show="pageState != 0">
            <input type="submit" value="Chat" ng-click="goToChat()" ng-disabled="pageState == 1">
            <input type="submit" value="Scry" ng-click="goToSearch()" ng-disabled="pageState == 2">
            <input type="submit" value="Log Out" ng-click="logout()">
          </form>
          <br>
          <div class='embed-container'><iframe src='http://www.youtube.com/embed/Sagg08DrO5U' frameborder='0' allowfullscreen></iframe></div>
        </header>
        <section>
          <div ng-show="pageState == 0">
            <h2>YOU SHALL NOT PASS!!!</h2>
            <p>Unless you log in</p>
            <form ng-submit="login()">
              <label>
                Username
                <input type="text" name="username" ng-model="username" placeholder="" size="14" />
              </label>
              <br>
              <label>
                Password
                <input type="password" name="password" ng-model="password" placeholder="" size="14" />
              </label>
              <br>
              <input type="submit" value="Log In" ng-disabled="!username">
            </form>
          </div>
          <div ng-show="pageState != 0">
            <div id="chat" ng-show="pageState == 1">
              <h2>Chat</h2>
              <p>What say you, {{username}}?</p>
              <div class="scroll" id="msgPane">
                <span ng-repeat="msg in messages">
                  <b ng-bind="msg['username']"></b><b>:</b>&nbsp;<span ng-bind="msg['message']"></span><br>
                </span>
              </div>
              <p>
                <form ng-submit="postMessage()">
                  <div class="entryBox">
                    <input class="textBox" ng-model='message' type="text" placeholder="..."/>
                    <input class="entryButton" type="submit" value="Send" ng-disabled="!message"/>
                  </div>
                </form>
              </p>
            </div>
            <div id="search" ng-show="pageState == 2">
              <h2>Box of Scrying</h2>
              <p>
                Use the power of the all-seeing eye of Sauron to search the comments!
              </p>
              <p>
                <form ng-submit="search()">
                  <label>
                    Usernames
                    <input type="checkbox" name="searchUsernames" ng-model="searchUsernames"/>
                  </label>
                  <br>
                  <label>
                    Messages
                    <input type="checkbox" name="searchMessages" ng-model="searchMessages"/>
                  </label>
                  <br>
                  <div class="entryBox">
                    <input class="textBox" type="text" name="searchTerm" ng-model="searchTerm"/>
                    <input class="entryButton" type="submit" value="Scry" ng-disabled="!searchTerm || (!searchUsernames && !searchMessages)"/>
                  </div>
                </form>
              </p>
              <div class="scroll" id="searchPane" ng-show="results.length > 0">
                <span ng-repeat="result in results">
                  <b ng-bind="result['username']"></b><b>:</b>&nbsp;<span ng-bind="result['message']"></span><br>
                </span>
              </div>
            </div>
          </div>
        </section>
      </div>
    <script src="js/scale.fix.js"></script>
    </div>
  </body>
</html>
